<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>500 Internal Server Error</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <div>
        <h1>ERROR 500  Internal Server Error</h1>
        <img class="mx-auto d-block" src="https://scontent.fcae1-1.fna.fbcdn.net/v/t1.0-9/16265491_1213731165389993_8081994670208812766_n.jpg?_nc_cat=102&_nc_sid=2d5d41&_nc_ohc=AvSs6ksv8MYAX-yVu0D&_nc_ht=scontent.fcae1-1.fna&oh=9c9085f9942ef49875ccd70ba2d1e662&oe=5F37445D" alt="sick server"/>    
    </div>  

  <script src="js/scripts.js"></script>
</body>
</html>