{% extends 'base.html' %} {% block content %}

{% load custom_tags %}

<h2>Favorite Recipes</h2>

<p>
    <a href="/favorite_list/title">By Title</a> | 
    <a href="/favorite_list/time_prep">By Prep Time</a> |
    <a href="/favorite_list/date_old"> By Oldest </a> | 
    <a href="/favorite_list/date_new"> By Newest </a>
</p>

<p>
    {% if recipes %}
    <div>
        <ul>
            {% for recipe in recipes %}
            {% comment %} <li><a href='/recipe/{{ recipe.title }}'>{{ recipe.title }}</a></li> {% endcomment %}
            {% endfor %}
        </ul>
        {% include 'recipe_card.html' %}
    </div>
    {% else %}
        <h6>No Recipes.</h6>
    {% endif %}
</p>


{% endblock %}