{% extends 'base.html' %} {% block content %}
{% load custom_tags %}
<p>
    {% if recipes %}
    <h3>Newest Recipes:</h3>
    <div>
        <ul>
            {% for recipe in recipes|sort_by:'-date_created'|slice:":5" %}
            {% comment %} <li><a href='/recipe/{{ recipe.title }}'>{{ recipe.title }}</a></li> {% endcomment %}
            {% endfor %}
            {% comment %} added recipe_card.html  {% endcomment %}
            {% include 'recipe_card.html' %}

        </ul>
    </div>
    <h3>Most Popular Recipes:</h3>
    <div>
        <ul>
            <!-- need to change the following to sort by rating:     -->
            {% for recipe in recipes|sort_by:'title'|slice:":5" %}
            {% comment %} <li><a href='/recipe/{{ recipe.title }}'>{{ recipe.title }}</a></li> {% endcomment %}
            {% endfor %}
            {% comment %} added recipe_card.html  {% endcomment %}
            {% include 'recipe_card.html' %}
        </ul>
    </div>
    {% else %}
        <h6>No Recipes.</h6>
    {% endif %}
</p>

{% endblock %}
