{% if request.user.is_authenticated %}
<p>
  Logged in as
  <a href="/profile/{{request.user.username}}/">{{ request.user.username }}</a>
</p>
<p>
  <a href="/">Notifications {{ request.user.notification_set.count }}</a> |
  <a href="/profile/{{ request.user.username }}">My Profile</a> |
  <a href="/recipe_add/">Add a Recipe</a> | <a href="/">Favorite Recipes</a> |
  <!-- <a href="{% url 'account_email' %}">Change E-mail</a> | -->
  <a href="{% url 'account_logout' %}">Sign Out</a>
</p>

{% else %}
<p>
  <a href="{% url 'account_login' %}">Sign In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a>
</p>
{% endif %}
