{% extends 'base.html' %} {% block content %}

<h2> {{ profile.username }}</h2>
<div id="profile_pic_container">
  <img src="{{ profile.image.url }}"/>
</div>
<br />

    {% if request.user.is_authenticated %}
        {% if request.user == profile %}
            <a href="/profile_edit"> Edit Profile </a>
            <br />
            <br />
        {% else %}
        <p class="profile_links">
          {% if profile in request.user.following.all %}
            <a href="/unfollow/{{ profile.username }}">Unfollow This User</a>
          {% else %}
            <a href="/follow/{{ profile.username }}">Follow This User</a>
          {% endif %}
        </p>
        {% endif %}
    {% endif %}

    <p>
        Followers: {{ profile.followed_by.count }} |
        Recipes: {{ recipes|length }}
    </p>

    <p>
        {% if profile.bio != '' %}
            Bio: {{ profile.bio }}
        {% endif %}
    </p>
</div>

<p>
    {% if recipes %}
      <div id="recipe-card-container">
        {% for recipe in recipes %}
            {% include 'recipe_card.html' %}
        {% endfor %}
      </div>
    {% else %}
        <h6>No Recipes.</h6>
    {% endif %}
</p>

{% endblock %}
