{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<h2>{{recipe.title}}</h2>

{% if request.user.is_authenticated %}
<p>
  {% if recipe in request.user.favorites.all %}
  <a href="/unfavorite/{{ recipe.title }}">Unfavorite This Recipe</a>
  {% else %}
  <a href="/favorite/{{ recipe.title }}">Favorite This Recipe</a>
  {% endif %}
  {% if request.user == recipe.author %} |
  <a href="/recipe_edit/{{ recipe.title }}"> Edit Recipe </a> {% endif %} |
  <a href="/recipe_nutrition/{{ recipe.title }}"> Nutrition Info </a>
</p>
{% endif %}

<p>
  Rating: {{ avg_rating }} Stars | Favorited by {{ recipe.favorited_by.count }} users
</p>

<p></p>

<img src="{{ recipe.image.url }}"/>
<ul>
  <li>
    Author:
    <a href="/profile/{{ recipe.author.username }}"
      >{{recipe.author.username}}</a
    >
    | Created on {{recipe.date_created}}
  </li>
  <li>
    Tags:
    <ul>
      {% for tag in recipe.tags %}
      <li>
        {{tag}}
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    Description: {{recipe.description}}
  </li>
  <li>
    # of servings: {{recipe.servings}}
  </li>
  <li>
    Prep Time: {{plain_prep}}
  </li>
  <li>
    Cook Time: {{plain_cook}}
  </li>
  <li>
    Additional Time: {{plain_additional}}
  </li>
  <li>
    Total Time: {{recipe.total_time}}
  </li>
  <li>
    Ingredients:
    <ul>
      {% for ingredient in recipe.ingredients %}
      <li>
        {{ingredient}}
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    Instructions:
    <ul>
      {% for step in recipe.instructions %}
      <li>
        {{step}}
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>

<div class="Comments-Container">
  {% if request.user.is_authenticated %}
    {% if request.user != recipe.author %}
    <div class="New-Review-Container">
      <h4>Write a Review</h4>
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div>
    {% endif %}
  {% endif %}

  <div class="reviews-list">
    <h4>Reviews</h4>
    {% if reviews %}
      {% for review in reviews %}
      <ul>
        <li>
          <div class="review">
            <p>
              <h5> {{review.title}} </h5>
              <p>
                {{review.rating}} Stars | 
                <a href="/profile/{{ review.author.username }}">{{review.author.username}}</a> |
                {{review.date}}
              </p>
              <p>
                "{{review.content}}"
              </p>
              <p>
                {% if request.user.is_authenticated %}
                  {% if review.author == request.user %}
                    <a class="btn btn-primary" href="/review_edit/{{review.id}}">Edit Review</a>
                    Upvotes: {{ review.upvotes }} |
                    Downvotes: {{ review.downvotes }}
                  {% else %}
                  <a class="btn btn-primary" href="/review_like/{{review.id}}">Upvote ({{review.upvotes}})</a> |
                  <a class="btn btn-primary" href="/review_unlike/{{review.id}}">Downvote ({{review.downvotes}})</a>
                  {% endif %}
                {% else %}
                  Upvotes: {{ review.upvotes }} | Downvotes: {{ review.downvotes }}
                {% endif %}
                {% comment %} {% if request.user.is_authenticated %}
                  {% if review.author == request.user %}
                    <a class="btn btn-primary" href="/review_edit/{{review.id}}">Edit Review</a>
                  {% endif %}
                {% endif %} {% endcomment %}
              </p>
            </p>
          </div>
        </li>
      </ul>
      {% endfor %}
    {% else %}
      <h5>No reviews.</h5>
    {% endif %}
  </div>
</div>

{% endblock %}
