{% extends 'base.html' %} {% block content %} {% load custom_tags %}

<h2>Search Results</h2>

    {% comment %} <form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
        <button class="search-glass-button" type="submit">
            <i class="search-glass" aria-hidden="true">&#128270;</i>
        </button>
    </form> {% endcomment %}

<p>
    {% if object_list %}
    <div id="recipe-card-container">
      {% for recipe in object_list %}
          {% include 'recipe_card.html' %}
      {% endfor %}
    </div>
    {% else %}
        <h6>No Results.</h6>
    {% endif %}
</p>

{% endblock %}
