{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Recpie Card</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  
</head>
<body>

    <div class="card-container">
        <h4><b>Pizza Suprise</b></h4>
            <div><img src="https://i.imgur.com/mgF1bk5.jpg" alt="Avatar" style="width: 250px;">
        </div>
    <p>&#x2605; &#x2605; &#x2605; &#x2606; &#x2606; </p> 
  </div>
    

    <div class="card-container">
        <h4><b>Pizza Suprise</b></h4>
            <div><img src="https://i.imgur.com/mgF1bk5.jpg" alt="Avatar" style="width: 250px;">
        </div>
    <p>&#x2605; &#x2605; &#x2605; &#x2606; &#x2606; </p> 
  </div>

    <div class="card-container">
        <h4><b>Pizza Suprise</b></h4>
            <div><img src="https://i.imgur.com/mgF1bk5.jpg" alt="Avatar" style="width: 250px;">
        </div>
    <p>&#x2605; &#x2605; &#x2605; &#x2606; &#x2606; </p> 
  </div>
</div>
</body>
</html>