{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Recpie Card</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  
</head>
<body>
    <div class="card">
      <h1>Wild Pizza</h1>
      <img src="https://i.imgur.com/mgF1bk5.jpg" alt="Denim Jeans" style="width:80%">
      <p class="price">&#9733; &#9733; &#9733; &#9734; &#9734;</p>
      <p><button>Visit Recpie Page</button></p>
    </div>

    
      

</body>
</html>