{% if request.user.is_authenticated %}
<!-- <p>
  You are currently logged in as
  <a href="/user/{{request.user.id}}/"
    >{{ request.user.display_name }} (@{{ request.user.username }})</a
  >
</p> -->
<p>
  <!-- {% if request.path != "/home/" %} <a href="/home">Home</a> | {% endif %} -->
  <a href="/">Notifications {{ request.user.notification_set.count }}</a> |
  <a href="/">My Profile</a> | <a href="/recipe_add/">Add a Recipe</a> |
  <a href="/">Favorite Recipes</a> |
  <a href="/logout">Log Out</a>
</p>

{% else %}
<p><a href="/login">Log In</a> | <a href="/">Register</a></p>
{% endif %}
