.page-header {
  background-color: rgb(230, 230, 230);
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #2c6b9b;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
  color: #000000;
}

/* recipe hacker main page search bar */

div.search-container {
  float: right;
}

div[type="text"] {
  font-size: 18px;
  border: none;
}

div.search-container button {
  float: right;
  margin-right: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

div.search-container button:hover {
  background: #ccc;
}

/* navbar search bar https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar*/
div#topnav.search-container {
  overflow: hidden;
  background-color: #e9e9e9;
  display: flex;
}

button.search-glass-button {
  text-align: center;
  margin-left: -16px;
  margin-top: 10px;
}

i.search-glass {
  font-family: "Lucida Sans Unicode", "Arial Unicode MS";
  margin: 0;
  padding: 0;
}

#topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnav a.active {
  background-color: #2196f3;
  color: white;
}

#topnav input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  #topnav a,
  #topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  #topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
/* navbar end */

/* recipe labels beginning */

div#recipe-card-container {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* word-wrap: normal; */
  /*flex-direction: row; */
  padding: 5px;
  border-color: beige;
}

div.card {
  text-align: center;
  font-family: arial;
  height: 300px;
  width: 300px;
  margin: 5px;
}

div.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card button {
  border: none;
  outline: 0;
  background-color: beige;
  text-align: center;
  vertical-align: text-bottom;
  cursor: pointer;
  width: 100%;
  font-size: x-large;
}

.card button:hover {
  opacity: 0.7;
}

p#star {
  bottom: 0;
  width: 100%;
  background-color: beige;
  padding: 0;
  margin: 0;
}

/* nutrition label start */

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.5rem;
}
.performance-facts table {
  border-collapse: collapse;
}

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th,
.performance-facts__table thead tr td,
.performance-facts__table--small thead tr td,
.performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th,
.performance-facts__table td,
.performance-facts__table--small td,
.performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th,
.performance-facts__table .thick-row td,
.performance-facts__table--small .thick-row td,
.performance-facts__table--grid .thick-row td {
  border-top-width: 5px;
}


.performance-facts__table {
  table-layout: fixed;
}

td#calories-from {
  padding-left: 30px;
}

.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
  border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
  text-align: left;
}
.performance-facts__table--small th,
.performance-facts__table--small td {
  border: 0;
  padding: 0;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

/* recipe labels end */


/* profile start */
.profile_container{
    display: flex;

}
.profile_name{
    
}
.profile_image{
  width: 200px;
  height: 200px;
}
.profile_links{

}

/* profile end */

/* error 404/500 page not found start */
h1#error404, h1#error500 {
  color: red;
}

/* error 404/500 page not found end*/
